<div class="container-fluid fijo">
<div class="row margenBaner">
<div class="col-md-3">
  <div class="logo"><img class="pequenaLogo" src="../../assets/imagenes/Logo_Donaton1.jpg"></div>
</div>
<div class="col-md-4">
  
</div>
<div class="col-md-2 padin">

  <div class="izquierda d-flex justify-content-center estiloRegistro">Registro</div>
</div>
<div class="col-md-2 padin">
  <div class="izquierda d-flex justify-content-center estiloSalir ">Salir</div>
</div>

</div>
</div>
<div class="container-fluid"> 
<div class="row d-flex justify-content-center">
  <div class="col-md-12 d-flex justify-content-center">
    <div><img class=" ImgPrincipal d-flex justify-content-center" src="../../assets/imagenes/principal.png"></div>
  </div>
</div>
</div>

  